body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    font-size: 10px;
}

.navbar {
    background-color: #333;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2%; /* Use percentage for padding */
    max-width: 100%; /* Ensures it spans the full width of the viewport */
}

.navbar-left,
.navbar-right {
    display: flex;
    color: white;
}

.navbar-right {
    margin-right: 5%; /* Align the right section to the right */
}

.navbar-right span {
    font-size: 1.1em;
}

.navbar button {
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 20px 5%; /* Use percentage for padding to scale with viewport */
    text-decoration: none;
    font-size: 1.1em; /* Use em units for font-size */
    transition: background-color 0.3s, color 0.3s;
    border-radius: 10px;
    margin: 5px 10px;
    border: none; /* Remove default button border */
    background: none; /* Remove default button background */
    cursor: pointer; /* Change cursor to pointer on hover */
    outline: none; /* Remove default button outline */
}

.navbar button:hover {
    background-color: #575757;
    color: #ffffff;
}
